<div *ngIf="itensLoja.length == 0"><span style="font-size: 25px;">Não existem itens cadastrados</span></div>
<div *ngIf="itensLoja.length > 0" class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tabela de Produtos</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                  class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
              aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr role="row">
                  <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-sort="ascending" aria-label="Name: activate to sort column descending"
                    style="width: 264.797px;">ID</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Position: activate to sort column ascending" style="width: 421.328px;">Nome</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Office: activate to sort column ascending" style="width: 194.406px;">Descrição</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Start date: activate to sort column ascending" style="width: 184.547px;">Preço</th>
                  <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                    aria-label="Salary: activate to sort column ascending" style="width: 167.062px;">Estoque</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th rowspan="1" colspan="1">ID</th>
                  <th rowspan="1" colspan="1">Nome</th>
                  <th rowspan="1" colspan="1">Descrição</th>
                  <th rowspan="1" colspan="1">Preço</th>
                  <th rowspan="1" colspan="1">Estoque</th>
                </tr>
              </tfoot>
              
              <tbody>
                <tr class="odd" *ngFor="let item of itensLoja">
                  <td class="sorting_1">{{item.id}}</td>
                  <td>{{item.nome}}</td>
                  <td>{{item.descricao}}</td>
                  <td>{{item.preco}}</td>
                  <td>{{item.estoque}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>